@import '../../../styles/global.scss';

.navbarContainer{
 
  .listContainer{
    display: flex;
    gap: 25px;
    padding-bottom: 30px;

    .listItem{
      list-style: none;

      .buttonNavActive, .buttonNav{
        padding: 8px;
        border-radius: 8px;
        border: none;
        cursor: pointer;

      }

      .buttonNav{
        background-color: #4d4c4cee

      }
      
      .buttonNavActive{
        background-color: $color-secondary;

      }
    }
  }
}