@import '../../../styles/global.scss';

.navbarContainer{
 
  .listContainer{
    display: flex;
    gap: 25px;
    padding-bottom: 30px;

    .listItem{
      list-style: none;

      .buttonNavActive, .buttonNav{
        padding: 8px;
        border-radius: 8px;
        border: none;
        cursor: pointer;

      }

      .buttonNav{
        background-color: #4d4c4cee

      }
      
      .buttonNavActive{
        background-color: $color-secondary;

      }
    }
  }
}

@media(max-width: 768px) {

  .navbarContainer{
 
    .listContainer{
  
      .listItem{
  
        .buttonNavActive, .buttonNav{
          padding: 6px;
          border-radius: 6px;
  
        }
      }
    }
  }
}

@media(max-width: 375px) {

  .navbarContainer{
 
    .listContainer{

      .listItem{
  
        .buttonNavActive, .buttonNav{
          padding: 6px;
          border-radius: 6px;
  
        }
      }
    }
  }
  
}