
.home_container{
  display: flex;
  padding: 100px 100px 80px 0;
  justify-content: space-around;
}

  .home_section{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    width: 570px;

    h5{
      color: #d0d6f9;;
      text-transform: uppercase;
      font-size: 28px;
      font-family: "Barlow Condensed";
      letter-spacing: 4.75px;
      font-weight: normal;
    }

    .title{
      font-family: "bellefair";
      text-transform: uppercase;
      font-size: 150px;
      text-decoration: none;
    }

.home_section p{
  color: #d0d6f9;
  font-size: 17px;
  font-family: sans-serif;
  line-height: 30px;
  padding-right: 100px;
}

  .home_explore{
    display: flex;
    align-items: flex-end;
    margin: 100px 20px 0 80px;

    .link{
      color: black;
      text-decoration: none;

      p{
        background-color: white;
        padding: 120px 60px;
        border-radius: 50%;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 2.35px;

        :hover{
          transition: 0.3s;
          box-shadow: -5px -4px 0px 75px #fff1;
        }
      }
    }
  }
}

@media(max-width: 768px) {

  .home_container{
    flex-direction: column;
    padding-right: 30px;
    align-items: center;

    .home_section{
      align-items: center;

      .title{
        font-size: 180px;
      }

      p{
        padding-right: 0;
        text-align: center;
      } 
    }
    .home_explore{
      margin: 150px 0 0 0;
    }
  }  
}

@media(max-width: 376px) {

  .home_container{
    padding: 50px 0 0 0;

    .home_section{
      width: 100%;
  
      h5{
        font-size: 15px;
        letter-spacing: 3px;
      }
  
      p{
        font-size: 13px;
        line-height: 22px;
        width: 300px;
        text-align: center;
      }

      .title{
        font-size: 83px;
      }   
    }
  }
  
  .home_explore{
    margin-top: 40px;

    p{
      padding: 62px 28px;
      font-size: 17px;

      :hover{
        display: none;
      }
    }
  }
}

