@import '../../../styles/global.scss';

.content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  .sectionImages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
  }

  .sectionNavigable{
    width: 37%;
    padding-right: 80px;

    .navContainer{
      padding: 20px 0;

    }

    .sectionText{
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: $font-primary;
      color: $color-secondary;

      .title{
        font-size: 100px;
        text-transform: uppercase;
      }

      .paragraph{
        font-family: sans-serif;
        font-size: 17px;
        color: $color-primary;
        line-height: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid rgb(188, 188, 188);

      }

      .cardsContainer{
        display: flex;
        text-transform: uppercase;
        gap: 100px;

        .cardInfo{

          p{
            font-family: $font-secondary;
            color: $color-primary;
            font-size: 14px;
            letter-spacing: 2.35px;

          }
          h3{
            font-weight: 100;
            font-size: 28px;
          }
        }
      }
    }

  }
}