.navbar_container{
  display: flex;
  align-items: center;
}

.navbar_container img {
  padding-right: 40px;
}

.line{
  width: 100%;
  position: relative;
  bottom: -10px;
  right: -40px;
  border-top: solid rgb(103, 103, 103) 2px;
}

.navbar{
  padding: 35px 140px 35px 100px;
  background-color: #fff9
}

.list_container{
  display: flex;
  justify-content: space-between;
  color: white;
}

.list_item{
  display: flex;
  gap: 10px;
  margin: 0 30px;
}