.navbar_container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Barlow Condensed";
  font-size: 14px;
  letter-spacing: 2.35px;
}

.navbar_container img {
  padding-right: 40px;
}

.line{
  width: 100%;
  position: relative;
  right: -40px;
  border-top: solid rgb(103, 103, 103) 2px;
}

.navbar{
  padding: 0 140px 0 100px;
  background: #fff1;
  backdrop-filter: blur(25px);
}

.list_container{
  display: flex;
  gap: 30px;
  color: white;
}

.list_item{
  display: flex;
  gap: 10px;
  padding: 35px 0;
  cursor: pointer;
  border-bottom: transparent 2px solid;
}

.list_item:hover{
  transition: 0.5s;
  border-bottom: white 2px solid;
}

.list_item span{
  font-weight: bold;
}

