@import "../../../styles/global.scss";

.headerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-family: $font-secondary;

  .number, .title {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 5px;
  } 

  .number {
    color: #888888ee;
  }

  .title {
    color: white;
  }

}

@media (max-width: 768px) {
  .headerContainer {
    padding: 0 50px;

    .number, .title {
      font-size: 20px;
    } 
 
  }
}

@media(max-width: 376px) {
  .headerContainer {
    justify-content: center;
  
    .number, .title {
      font-size: 16px;
      letter-spacing: 3px;
    }
  
  }
}