.imageContainer{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img{
   max-height: 602px;
   max-width: 575px;
  }
}

@media(max-width: 768px) {

  .imageContainer{
  
    img{
     max-height: 500px;
     
    }
  }
  
}
