@import '../../../styles/global.scss';

.crewContainer{
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 120px;

  .crewSectionImagen{
    display: flex;
  }
}

@media(max-width: 768px) {

  .crewContainer{
    padding: 20px 50px 0;

    .crewSectionImagen{
      flex-direction: column;
    }
  }
  
}

@media(max-width: 376px) {

  .crewContainer{
    padding: 0;

    .crewSectionImagen{
      flex-direction: column-reverse;
    }
  }
  
}