@import '../../../styles/global.scss';

.crewContainer{
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 120px;
}

@media(max-width: 768px) {

  .crewContainer{
    padding: 20px 50px 0;
    flex-direction: column;
  }
  
}

@media(max-width: 375px) {

  .crewContainer{
    flex-direction: column-reverse;
  }
  
}