@import '../../../styles/global.scss';

.contentContainer{
  display: flex;
  color: $color-secondary;

  .sectionContainer{
    display: flex;
    align-items: center;

    .navbarContainer{

    }

    .articleContainer{
      padding: 0 150px 0 60px;
      max-height: 248px;

      .label{
        font-family: $font-secondary;
        font-size: 20px;
        color: $color-primary;

      }

      .name{
        padding: 20px 0 20px 0;
        text-transform: uppercase;
        font-size: 56px;
      }

      .description{
        color: $color-primary;
        font-family: sans-serif;
        line-height: 30px;
      }
    }

    .imageContainer{

    }
  }
}