@import '../../../styles/global.scss';

.contentContainer{
  display: flex;
  color: $color-secondary;

  .sectionContainer{
    display: flex;
    align-items: center;

    .articleContainer{
      padding: 0 123px 0 60px;
      max-height: 248px;

      .label{
        font-family: $font-secondary;
        font-size: 20px;
        color: $color-primary;

      }

      .name{
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 49px;
      }

      .description{
        color: $color-primary;
        font-family: sans-serif;
        line-height: 30px;
      }
    }    
  }
  .imageContainer{

    .imageTechPortrait{
      width: 500px;
      height: 100%;
    }
  }
}


@media(max-width: 768px) {

  .contentContainer{
    flex-direction: column-reverse;
  
    .sectionContainer{
      flex-direction: column;
  
      .articleContainer{
        padding: 30px 120px;
        text-align: center;
        min-height: 325px;

        .label{
          font-size: 18px;
        }
  
        .name{
          font-size: 42px;
        }
  
        .description{
          font-size: 15px;
          line-height: 28px;

        }
      }
  
    }

    .imageContainer{
      width: 768px;
      height: 310px;
      position: relative;
      left: -30px;
      margin: 30px 0;
      
      .imageTechLandscape {
        width: 100%;
      } 

    }
  }
  
}


@media(max-width: 375px) {

  .contentContainer{

    .sectionContainer{

      .articleContainer{
        padding: 0;
        min-height: 230px;

        .label{
          padding-top: 15px;

        }
  
        .name{
          padding: 10px 0 15px;
          font-size: 24px;

        }
  
        .description{
          line-height: 25px;
          font-size: 14px;
          margin: 0 10px;

        }
      }
    }

    .imageContainer{
      width: fit-content;
      height: fit-content;

      .imageTechLandscape {
        width: 385px;
      } 
    }
  }  
}